{% extends 'main.html.twig' %}

{% block entete %}
  {{ parent() }}

  <link rel='stylesheet' href='{{css_path}}toolTip.css'>

<style>
 input 
  {
    font-size : 1em;
    background-color : white;
  }
  h3
  {
    font-size : 1em;
  }
  h4
  {
    font-size : 0.5em;
    color : black;
  }
</style>

{% endblock %}

{% block laPage %}

<div class="col-12">
  <br>
</div>
<div class="col-1">
  <br>
</div>
<div class="col-md-{{largeurFenetre}} col-11 enBleu OurFont">

  {% if isUser %}
    <table class='w-100'> 

      <tr>
        <td style='width : 50%;'>
          <h1 class="h3 mb-3 font-weight-normal">Compte de {{ session.memberConnected.nom }} :</h1>
        </td>
        <td style='width : {{pourcentBoutons}}%;'>
          <form method='post' action='logout'>
            <button class='btn-primary btn float-right' type='submit'>Déconnexion</button>
          </form>
        </td>
        {% if isAdmin %}
        <td style='width : 16%;'>
          <form method='post' action='gestion'>
            <button class='btn-primary btn float-right' type='submit'>Administrateur</button>
          </form>
        </td>
        {% endif %}
        {% if isRoleRGPD %}
        <td style='width : 10%;'>
          <form method='post' action='RGPD'>
            <button class='btn-primary btn float-right' type='submit'>RGPD</button>
          </form>
        </td>
        {% endif %}
        {% if isRoleCompta %}
        <td style='width : 16%;'>
          <form method='post' action='Compta'>
            <button class='btn-primary btn float-right' type='submit'>Comptabilité</button>
          </form>
        </td>
        {% endif %}
        {% if isRoleNewsletter %}
        <td style='width : 30%;'>
          <form method='post' action='Newsletter'>
            <button class='btn-primary btn float-right' type='submit'>Gestion des adhérents</button>
          </form>
        </td>
        {% endif %}
      </tr>
    </table>   

<br>
<form action="majUser" method="post">
  <table>
    <tr>
      <td>
  	    <h3>Mot de passe :</h3>
      </td>
      <td>
        <a href="#" style='position:relative;'>
  	    <input type="password" name="user_display_plainPassword" id="user_display_plainPassword" required="required" value="{{field_value(formulaire.plainPassword)}}">
        <div class='tool-tip right'>Vous&nbsp;pouvez&nbsp;le&nbsp;changer.</div>
        </a>
      </td>
      <td style='width : 5%;'>
        &nbsp;
      </td>
      <td>
  	    <h3>Identifiant Discord :</h3>
      </td>
      <td>
        <a href="#" style='position:relative;'>
  	    <input type="text" name="user_display_userId" id="user_display_userId" value="{{field_value(formulaire.userId)}}">
        <div class='tool-tip left'>code&nbsp;de&nbsp;18&nbsp;chiffres</div>
        </a>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td colspan=2>
        <h4>Dans Discord, cliquez (avec le bouton droit de la souris) sur votre nom, puis sur Copier l'identifiant de l'utilisateur.</h4>
      </td>
    <tr>
      <td>
  	    <br>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td colspan=2>
  	    <h3>Adresse mail :</h3>
      </td>
      <td>
      </td>
      <td colspan=2>
  	    <h3>Nombre de joueurs pour votre prochaine inscription :</h3>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <a href="#" style='position:relative;'>
  	    <input type="email" name="user_display_email" id="user_display_email" value="{{field_value(formulaire.email)}}">
        <div class='tool-tip right'>adresse&nbsp;pour&nbsp;votre&nbsp;newsletter</div>
        </a>
      </td>
      <td>
      </td>
      <td colspan=2>
        <a href="#" style='position:relative;'>
        <select name="user_display_nbJoueurs" id="user_display_nbJoueurs">
          <option value=1 {{field_value(formulaire.nbJoueurs)|ifSelected("1")}}>Je viendrai seul</option>
          <option value=2 {{field_value(formulaire.nbJoueurs)|ifSelected("2")}}>On sera deux</option>
          <option value=3 {{field_value(formulaire.nbJoueurs)|ifSelected("3")}}>Je viens avec 2 amis</option>
          <option value=4 {{field_value(formulaire.nbJoueurs)|ifSelected("4")}}>On vient à 4 en tout</option>
          <option value=5 {{field_value(formulaire.nbJoueurs)|ifSelected("5")}}>J'amène 4 autres joueurs</option>
          <option value=6 {{field_value(formulaire.nbJoueurs)|ifSelected("6")}}>Nous serons 6 !</option>
        </select>
        <div class='tool-tip left'>Ne&nbsp;sert&nbsp;que&nbsp;sur&nbsp;ce&nbsp;site,&nbsp;pas&nbsp;sur&nbsp;Discord.</div>
        </a>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td colspan=2>
        <h4>Utile en cas d'inscription à une partie chez un joueur.</h4>
      </td>
    <tr>
      <td>
      </td>
      <td colspan=3 style="text-align:center"">
  	    <button type="submit">Enregistrer les modifications</button>
      </td>
      <td>
      </td>
    </tr>
  </table>
</form>


  {% else %}
    <meta http-equiv="refresh" content="5; login" />
  {% endif %}

</div>

{% endblock %}
