{% extends 'main.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block entete %}
  {{ parent() }}
  {% if not('memberConnected' in session|keys) %}
    <meta http-equiv= "refresh" content="0; login" />
  {% endif %}
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block laPage %}
<div class="col-12">
  <br>
</div>
<div class="col-1">
  <br>
</div>
{# Si c'est l'administrateur qui est connecté, l'affichage sera différent. #}
{% set isAdmin = false %}
{% set largeurFenetre = 7 %}
{% set pourcentBoutons = 30 %}
{% if 'memberConnected' in session|keys %}
{%   if session.memberConnected.id >= 1 %}
{%     set isAdmin = true %}
{%     set largeurFenetre = 11 %}
{%     set pourcentBoutons = 10 %}
{%   endif %}
{% endif %}
<div class="col-md-{{largeurFenetre}} col-11 enBleu">

  {% if 'memberConnected' in session|keys %}
    <table class='w-100'> 
    
      <tr>
        <td style='width : 70%;'>
          <h1 class="h3 mb-3 font-weight-normal">Compte de {{ session.memberConnected.nom }} :</h1>
        </td>
        <td style='width : {{pourcentBoutons}}%;'>
          <form action='logout'>
            <button class='btn-primary btn float-right' type='submit'>Déconnexion</button>
          </form>
        </td>
        {% if isAdmin %}
        <td style='width : 20%;'>
          <form action='admin'>
            <button class='btn-primary btn float-right' type='submit'>Interface administrateur</button>
          </form>
        </td>
        {% endif %}
      </tr>
    </table>    
    {{ form(formulaire) }}
  {% endif %}

</div>

{% endblock %}
