{% extends 'main.html.twig' %}

{% block entete %}
  {{ parent() }}

  <link rel='stylesheet' href='{{css_path}}toolTip.css'>

<style>
 input 
  {
    font-size : 1em;
    background-color : white;
  }
  h3
  {
    font-size : 1em;
  }
  h4
  {
    font-size : 0.5em;
    color : black;
  }
</style>

{% endblock %}

{% block laPage %}

<div class="col-12">
  <br>
</div>
<div class="col-1">
  <br>
</div>
<div class="col-md-{{largeurFenetre}} col-11 enBleu OurFont">

  {% if isUser %}
    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-md-6 m-0 p-0"> {# Titre #}
          <h1 class="h3 mb-3 font-weight-normal">Compte de {{ session.memberConnected.nom }}</h1>
        </div>
        <div class="col-12 col-md-6 m-0 p-0"> {# Boutons #}
          <div class="container-fluid"> {# Dans ce container, toutes les cases auront la même taille #}
            <div class="row gx-1">
              <div class="col">
                <form method='post' action='logout'>
                  <button class='btn-primary btn float-right' type='submit'>Déconnexion</button>
                </form>
              </div>
              {% if isAdmin %}
              <div class="col">
                <form method='post' action='gestion'>
                  <button class='btn-primary btn float-right' type='submit'>Administrateur</button>
                </form>
              </div>
              {% endif %}
              {% if isRoleRGPD %}
              <div class="col">
                <form method='post' action='Admin1'>
                  <button class='btn-primary btn float-right' type='submit'>RGPD</button>
                </form>
              </div>
              {% endif %}
              {% if isRoleCompta %}
              <div class="col">
                <form method='post' action='Admin2'>
                  <button class='btn-primary btn float-right' type='submit'>Comptabilité</button>
                </form>
              </div>
              {% endif %}
              {% if isRoleNewsletter %}
              <div class="col">
                <form method='post' action='Admin4'>
                  <button class='btn-primary btn float-right' type='submit'>Gestion des adhérents</button>
                </form>
              </div>
              {% endif %}
            </div>
          </div>
        </div> {# Bloc des boutons #}

        <div class="col-12"> {# Le formulaire #}
          <br>
          <form action="majUser" method="post">
          <div class="container-fluid">
            <div class="row">

              <div class="col-12 col-md-auto">
  	            <h3>Mot de passe :</h3>
              </div>
              <div class="col-12 col-md-3 mb-4 mb-md-0">
                  <input type="password" name="user_display_plainPassword" id="user_display_plainPassword" required="required" value="{{field_value(formulaire.plainPassword)}}">
              </div>
              <div class="col-0 col-md-1">
              </div>
              <div class="col-12 col-md-auto">
  	            <h3>Identifiant Discord :</h3>
              </div>
              <div class="col-12 col-md-4 mb-4 mb-md-2">
                  <input type="text" size="19" name="user_display_userId" id="user_display_userId" value="{{field_value(formulaire.userId)}}">
                  <h4>Code de 18 chiffres que vous trouverez dans Discord :<li>cliquez (bouton droit) sur votre nom</li><li>puis sur Copier l'identifiant de l'utilisateur</li></h4>
              </div>
              <div class="col-12 col-md-5 mb-4">
  	            <h3>Adresse mail :</h3>
                <a href="#" style='position:relative;'>
                  <input type="email" name="user_display_email" id="user_display_email" value="{{field_value(formulaire.email)}}">
                  <div class='tool-tip right'>adresse&nbsp;pour&nbsp;votre&nbsp;newsletter</div>
                </a>
              </div>
              <div class="col-12 mb-4">
                  <h3>Nombre de joueurs pour votre prochaine inscription :</h3>
                    <select name="user_display_nbJoueurs" id="user_display_nbJoueurs">
                      <option value=1 {{field_value(formulaire.nbJoueurs)|ifSelected("1")}}>Je viendrai seul</option>
                      <option value=2 {{field_value(formulaire.nbJoueurs)|ifSelected("2")}}>On sera deux</option>
                      <option value=3 {{field_value(formulaire.nbJoueurs)|ifSelected("3")}}>Je viens avec 2 amis</option>
                      <option value=4 {{field_value(formulaire.nbJoueurs)|ifSelected("4")}}>On vient à 4 en tout</option>
                      <option value=5 {{field_value(formulaire.nbJoueurs)|ifSelected("5")}}>J'amène 4 autres joueurs</option>
                      <option value=6 {{field_value(formulaire.nbJoueurs)|ifSelected("6")}}>Nous serons 6 !</option>
                     </select>
   	                <div class='tool-tip right'>Ne&nbsp;sert&nbsp;que&nbsp;sur&nbsp;ce&nbsp;site,&nbsp;pas&nbsp;sur&nbsp;Discord.</div>
                    <h4>Utile seulement:<li>en cas d'inscription à une partie chez un joueur</li><li>et uniquement sur le site</li></h4>
              </div>
              <div class="col-12">
                <button type="submit" class='btn-primary btn float-right'>
                  Enregistrer les modifications
                </button>
              </div>

            </div> {# formulaire - row #}
          </div> {# formulaire - container #}
          </form>
        </div> {# formulaire - col-12 #}

      </div> {# row globale #}
    </div> {# container global #}
    {% else %}
      <meta http-equiv="refresh" content="5; login" />
    {% endif %}

</div>

{% endblock %}
