{% extends 'main.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block entete %}
  {{ parent() }}
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block laPage %}
<div class="col-12">
  <br>
</div>
<div class="col-1">
  <br>
</div>
<div class="col-5 enBleu">
    {% if app.user %}
        <div class="checkbox mb-3">Heureux de vous voir, {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}

    <h1 class="h3 mb-3 font-weight-normal">Connectez-vous ici :</h1>
    {{ form(formulaire) }}
    <a href="mailto:myosotis.arae@gmail.com">Vous avez oublié vos identifiants ? Contactez-moi.</a>
    {#<a href='oubli-mot-de-passe'>J'ai oublié mes identifiants.</a>#}
    <br>
    {% endif %}

</div>

<div class="col-1">
</div>

<div class="col-3 enBleu centrer" style='height : 100%;'>
  <form method="POST" action="newUser">
    <br>
    <a href="newUser" class="bouton bg-primary">
        Créez votre compte
    </a>
    <br>
    <br>
  </form>
</div>

{% endblock %}
