{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}accueil.css">
<style>
  .encadrer
  {
    box-sizing: border-box;
    background : Ivory;
    opacity : 0.9;
    padding-right : 1em;
    padding-left : 1em;
  }
</style>
{% endblock %}

{% block laPage %}

  <div class="col-12">
    <br>
  </div>

  <div class="col-12 col-md-7 container" style="box-sizing: border-box;">{# colonne 1 #}
    <div class="row encadrer cadreBleu">
      <div class="col-11">
        <br>
        <h1><a href="jeux">Nos jeux</a></h1>
      </div>
      <div class="col-1">
      </div>
      <div class="col-11">
        <br><br>
        <h1><a href="https://lerenardenjoue.forumactif.com/">Notre forum</a></h1>
      </div>
      <div class="col-1">
      </div>
      <div class="col-11">
        <br><br>
        <h1><a href="contact">Infos et contact</a></h1>
      </div>
      <div class="col-1">
      </div>
      <div class="col-11">
        <br><br>
        <h1><a href="calendrier">{{"évènements à venir"|capitalize}}</a></h1>
        <br>
      </div>
    </div>{# row encadrée #}
    
  </div>{# colonne 1 #}

  <div class="col-12 col-md-1">
    <h1>&nbsp;</h1>
  </div>
  <div class="col-12 col-md-4 encadrer cadreBleu">{# colonne 2 #}
    <div class="row">
      <div class="col-md-12 col-6">
        <u>Prochains évènements :</u><br>
        {% if nextEvts|length > 0 %}
          {% for evt in nextEvts %}
          <li>Le {{evt.date}} :</li>
          {% set titre = evt.titre %}
          {% if titre == "Les renards jouent" %}
            {% set titre = "Soirée-jeux de l'asso" %}
          {% endif %}
          <div style='margin-left : 2.5em;'><a href='afficherEvt{{evt.id}}'>{{titre}}</a></div>
          {% endfor %}
        {% else %}
          Rien n'est prévu dans les prochains mois.
          <br><br>
        {% endif %}
        <br><br>
      </div>
      <div class="col-md-12 col-6">
        <u>Ajouts récents :</u><br>
        {% for jeu in lastGames %}
        <li><a href="jeux?choisirJeu{{jeu.id}}">{{jeu.nomComplet}}</a></li>
        {% endfor %}
        <br>
        Venez les tester !<br>
      </div>
    </div>
  </div>{# colonne 2 #}

{% endblock %} {# Fin du block laPage #}
