{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}

    <link href='{{ css_path }}/calendrier.css' rel='stylesheet' />
    <link href='{{ fc_path }}core/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}bootstrap/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}daygrid/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}list/main.css' rel='stylesheet' />

    <script src='{{ js_path }}/calendrier.js'></script>

    <script src='{{ fc_path }}core/main.js'></script>
    <script src='{{ fc_path }}bootstrap/main.js'></script>
    <script src='{{ fc_path }}daygrid/main.js'></script>
    <script src='{{ fc_path }}list/main.js'></script>
    <script>
      {% set unEvt = null %}

      var listeDesc =
      {
        {% for evt in listeDates %}
          {% if loop.first %} {% set unEvt = evt %} {% endif %}

          {{evt.id}} : {
                         "id": "{{evt.id}}",
                         "debut": "{{evt.dateDebut|date('Y/m/d')}}",
                         "titre": "{{evt.titre}}",
                         "desc" : "{{ evt.description|replace({'\n':'<br>','\r':'','"':'&quot;'})|raw }}",
                         "periode" : "{{ evt.periode|replace({'\n':'<br>','\r':''})|raw }}"
              }{% if (not loop.last) %},{% endif %}
        {% endfor %}

      };
      var lesJours = ["Dimanche","Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi"];
      var lesMois = ["janvier","février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre"];
      var ceMoisCi = lesMois[new Date().getMonth()];

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('monCalendrier');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid', 'bootstrap', 'list' ],
          height : 'parent',
          buttonText : {
                         today : 'Revenir en '+ceMoisCi,
                         dayGridMonth : "mois",
                         dayGridWeek : "semaine",
                         dayGridDay  : "jour",
                         listYear : "année"
                       },
          firstDay : 1,
          defaultView : "dayGridMonth",
          displayEventTime: false,
          locale : "fr",
          noEventsMessage : "Aucun évènement de prévu pour l'instant.",
          header : {
                     center : 'title',
                     right : 'today prev next',
                     left :  'listYear dayGridMonth dayGridWeek dayGridDay'
                   },
          businessHours: { daysOfWeek : [2,4,6] },
          events : [{% for evt in listeDates %}
                     {
                       id : {{evt.id}},
                       allDay : false,
                       textColor : '#FFFFFF',
                       {% if evt.titre=="Les renards jouent" %}backgroundColor: '#ff0000',{% endif %}
                       title : "{{evt.titre}}",
                       start : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureDebut|date('H:i')}}"
                       {% if evt.aUneDateDeFin %},end : "{{evt.dateFin|date('Y-m-d')}}"
                         {% if evt.aUneHeureDeFin %}
                           +" {{evt.heureFin|date('H:i')}}"
                         {% endif %}
                       {% else %}
                         {% if evt.aUneHeureDeFin %}
                           ,end : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureFin|date('H:i')}}"
                         {% endif %}
                       {% endif %}

                       {% if evt.aUneDateDeFin %}
                       ,isMultipleDay: true,
                       multipleDayEvents: [
                         {
                           description : "{{evt.titre}} - Premier jour",
                           start : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureDebut|date('H:i')}}",
                           end   : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureFin|date('H:i')}}"
                         },
                         {
                           description : "{{evt.titre}} - Deuxième jour",
                           start : "{{evt.dateFin|date('Y-m-d')}} {{evt.heureDebut|date('H:i')}}",
                           end   : "{{evt.dateFin|date('Y-m-d')}} {{evt.heureFin|date('H:i')}}"
                         }
                       ]
                       {% endif %}

                     }{% if (not loop.last) %},{% endif %}
                   {% endfor %}

                   ],
          //eventClick : function(info) { alert(listeDesc[info.event.id].id); }
          eventClick : function(info) { window.open("/afficherEvt"+listeDesc[info.event.id].id,"_self");return false; }
        });

        calendar.render();
      });

    </script>
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block laPage %}
<div class='container-fluid fondOpaque' id='partieBlanche' style='width : 95%;height : 100vh; overflow-y : auto; margin-bottom : 25vh;'>
  <div class='row' style='height : 100%;'>
    <div class='col-12' id='monCalendrier' style='height : 90%;'>
    </div>

    {% if evt is defined %}
    <div class='col-md-4 col-5' style='min-height : 300px;'>
        <div id='titreEvt'><h3>{{evt.titre}}</h3></div>
        <div id='dateEvt'><h5>{{evt.periode}}</h5></div>
        <div id='insc' class='custom-control custom-checkbox'>
          <br>
          {% if cas == 1 %}
            Les inscriptions sont closes.
          {% elseif cas == 22 %}
            Vous devez vous connecter pour vous inscrire.<br>
            <a href='login' class='bouton bg-primary'>Page de connexion</a>
          {% elseif cas == 211 %}
            Vous y êtes déjà inscrit.<br>
            <a href='desinscription{{evt.id}}' class='bouton bg-primary'>Désinscription</a>
          {% elseif cas == 212 %}
            Vous avez jusqu'au {{limite|date('d/m/Y')}} pour vous inscrire.<br>
            Venez jouer !<br>
            <a href='Inscription{{evt.id}}' class='bouton bg-primary'>Inscription</a>
          {% endif %}
        </div>
    </div>
    <div class='col-7 offset-md-1' id='descEvt' style='height:auto;'>
      <div class='enBleu'>{{evt.description|retourChariot|raw}}</div>
    </div>
    {% endif %}

    <div class='col-12'>
      <br>&nbsp;
      <br>&nbsp;
      <br>&nbsp;
      <br>&nbsp;
    </div>

  </div>
</div>
{% endblock %}