{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}

    <link href='{{ css_path }}/calendrier.css' rel='stylesheet' />
    <link href='{{ fc_path }}core/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}bootstrap/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}daygrid/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}list/main.css' rel='stylesheet' />

    <script src='{{ js_path }}/calendrier.js'></script>

    <script src='{{ fc_path }}core/main.js'></script>
    <script src='{{ fc_path }}bootstrap/main.js'></script>
    <script src='{{ fc_path }}daygrid/main.js'></script>
    <script src='{{ fc_path }}list/main.js'></script>
    <script>
      {% set unEvt = null %}

      var listeDesc =
      {
        {% for evt in listeDates %}
          {% if loop.first %} {% set unEvt = evt %} {% endif %}

          {{evt.id}} : {
                         "titre": "{{evt.titre}}",
                         "desc" : "{{ evt.description|replace({'\n':'<br>','\r':'','"':'&quot;'})|raw }}",
                         "periode" : "{{ evt.periode|replace({'\n':'<br>','\r':''})|raw }}"
              }{% if (not loop.last) %},{% endif %}
        {% endfor %}

      };
      var lesJours = ["Dimanche","Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi"];
      var lesMois = ["janvier","février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre"];
      var ceMoisCi = lesMois[new Date().getMonth()];

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('monCalendrier');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid', 'bootstrap', 'list' ],
          height : 500,
          buttonText : {
                         today : 'Revenir en '+ceMoisCi,
                         dayGridMonth : "mois",
                         dayGridWeek : "semaine",
                         dayGridDay  : "jour",
                         listYear : "année"
                       },
          firstDay : 1,
          defaultView : "dayGridMonth",
          displayEventTime: false,
          locale : "fr",
          noEventsMessage : "Aucun évènement de prévu pour l'instant.",
          header : {
                     center : 'title',
                     right : 'today prev next',
                     left :  'listYear dayGridMonth dayGridWeek dayGridDay'
                   },
          businessHours: { daysOfWeek : [2,4,6] },
          events : [{% for evt in listeDates %}
                     {
                       id : {{evt.id}},
                       allDay : false,
                       textColor : '#FFFFFF',
                       {% if evt.titre=="Les renards jouent" %}backgroundColor: '#ff0000',{% endif %}
                       title : "{{evt.heureDebut|date('H')}}h{% if evt.aUneHeureDeFin %}-{{evt.heureFin|date('H')}}h{% endif %} {{evt.titre}}",
                       start : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureDebut|date('H:i')}}"
                       {% if evt.aUneDateDeFin %},end : "{{evt.dateFin|date('Y-m-d')}}"
                         {% if evt.aUneHeureDeFin %}
                           +" {{evt.heureFin|date('H:i')}}"
                         {% endif %}
                       {% else %}
                         {% if evt.aUneHeureDeFin %}
                           ,end : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureFin|date('H:i')}}"
                         {% endif %}
                       {% endif %}

                       {% if evt.aUneDateDeFin %}
                       ,isMultipleDay: true,
                       multipleDayEvents: [
                         {
                           description : "{{evt.titre}} - Premier jour",
                           start : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureDebut|date('H:i')}}",
                           end   : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureFin|date('H:i')}}"
                         },
                         {
                           description : "{{evt.titre}} - Deuxième jour",
                           start : "{{evt.dateFin|date('Y-m-d')}} {{evt.heureDebut|date('H:i')}}",
                           end   : "{{evt.dateFin|date('Y-m-d')}} {{evt.heureFin|date('H:i')}}"
                         }
                       ]
                       {% endif %}

                     }{% if (not loop.last) %},{% endif %}
                   {% endfor %}

                   ],
          eventClick : function(info) { detailEvt(listeDesc[info.event.id]); }
          /*,
          columnHeaderText: function(d) { return lesJours[d.getDay()]; }*/ // plus besoin de ça avec le parametre locale
        });

        calendar.render();
      });

    </script>
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block laPage %}
<div class="container-fluid fondOpaque h-85" id="partieBlanche">
  <div class="row">
    <div class="col-12 h-85" id='monCalendrier'>
    </div>

    <div class="col-4">
        <div id='titreEvt'>
          {% if listeDates|length == 0 %}
          Aucun évènement ce mois-ci {# Pb : cette liste contient tous les evts, pas juste ceux de ce mois #}
          {% elseif listeDates|length == 1 %}
          {% include("_detailEvt.html.twig") %}
          {#}
          {% else %}
          {{listeDates|length}} évènements ce mois-ci !
          #}
          {% endif %}
        </div>
        <div id='dateEvt'></div>
    </div>
    <div class="col-7 offset-1" id='descEvt'>
    </div>

  </div>
</div>
{% endblock %}