{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}

    <link href='{{ css_path }}/calendrier.css' rel='stylesheet' />
    <link href='{{ fc_path }}/core/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}/bootstrap/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}/daygrid/main.css' rel='stylesheet' />

    <script src='{{ js_path }}/calendrier.js'></script>

    <script src='{{ fc_path }}/core/main.js'></script>
    <script src='{{ fc_path }}/bootstrap/main.js'></script>
    <script src='{{ fc_path }}/daygrid/main.js'></script>
    <script src='{{ fc_path }}/interaction/main.js'></script>

    <script>
      {% set unEvt = null %}

      var listeDesc =
      {
        {% for evt in listeDates %}
          {% if loop.first %} {% set unEvt = evt %} {% endif %}

          {{evt.id}} : {
                         "titre": "{{evt.titre}}",
                         "desc" : "{{ evt.description|replace({'\n':'<br>','\r':''})|raw }}",
                         "periode" : "{{ evt.periode|replace({'\n':'<br>','\r':''})|raw }}"
              }{% if (not loop.last) %},{% endif %}
        {% endfor %}

      };
      var lesMois = ["janvier","février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre"];
      var ceMoisCi = lesMois[new Date().getMonth()];

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid','interaction','bootstrap' ],
          height : 500,
          buttonText : {
                         today : 'Revenir en '+ceMoisCi,
                         dayGridMonth : "mois",
                         dayGridWeek : "semaine",
                         dayGridDay  : "jour"
                       },
          firstDay : 1,
          header : {
                     center : 'title',
                     right : 'today prev next',
                     left :  'dayGridMonth dayGridWeek dayGridDay'
                   },
          businessHours: { daysOfWeek : [2,4,6] },
          events : [{% for evt in listeDates %}

                     {
                       id : {{evt.id}},
                       title : "{{evt.titre}}",
                       start : "{{evt.dateDebut|date('Y-m-d')}}"
                       {% if evt.aUneDateDeFin %},end : "{{evt.dateFin ? evt.dateFin|date('Y-m-d')}}"{% endif %}

                     }{% if (not loop.last) %},{% endif %}
                   {% endfor %}

                   ],
          eventClick : function(info) { detailEvt(listeDesc[info.event.id]); }
        });

        calendar.render();
      });

    </script>
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block laPage %}
<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12" id='calendar'>
    </div>

    <div class="col-xs-4">
        <div id='titreEvt'>
          {% if listeDates|length == 0 %}
          Aucun évènement ce mois-ci
          {% elseif listeDates|length == 1 %}
          {% include("_detailEvt.html.twig") %}
          {% else %}
          {{listeDates|length}} évènements ce mois-ci !
          {% endif %}
        </div>
        <div id='dateEvt'></div>
    </div>
    <div class="col-xs-7 offset-1" id='descEvt'>
    </div>

  </div>
</div>
{% endblock %}