{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}

    <link href='{{ css_path }}calendrier.css' rel='stylesheet' />
    <link href='{{ fc_path }}core/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}bootstrap/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}daygrid/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}list/main.css' rel='stylesheet' />

    <script src='{{ js_path }}/calendrier.js'></script>

    <script src='{{ fc_path }}core/main.js'></script>
    <script src='{{ fc_path }}bootstrap/main.js'></script>
    <script src='{{ fc_path }}daygrid/main.js'></script>
    <script src='{{ fc_path }}list/main.js'></script>
    <script>
      {% set unEvt = null %}

      var listeDesc =
      {
        {% for evt in listeDates %}
          {% if loop.first %} {% set unEvt = evt %} {% endif %}

          {{evt.id}} : {
                         "id": "{{evt.id}}",
                         "debut": "{{evt.dateDebut|date('Y/m/d')}}",
                         "titre": "{{evt.titre}}",
                         "desc" : "{{ evt.description|replace({'\n':'<br>','\r':'','"':'&quot;'})|raw }}",
                         "periode" : "{{ evt.periode|replace({'\n':'<br>','\r':''})|raw }}"
              }{% if (not loop.last) %},{% endif %}
        {% endfor %}

      };
      var lesJours = ["Dimanche","Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi"];
      var lesMois = ["janvier","février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre"];
      var ceMoisCi = lesMois[new Date().getMonth()];

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('monCalendrier');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid', 'bootstrap', 'list' ],
          height : 'parent',
          buttonText : {
                         today : 'Revenir en '+ceMoisCi,
                         dayGridMonth : "mois",
                         list : "liste"
                       },
          firstDay : 1,
          defaultView : "dayGridMonth",
          displayEventTime: false,
          locale : "fr",
          noEventsMessage : "Aucun évènement de prévu pour l'instant.",
          header : {
                     center : 'title',
                     right : 'today prev next',
                     left :  ''
                   },
          businessHours: { daysOfWeek : [2,4,6] },
          eventLimit : false,
          views: {
                   dayGridMonth: { eventLimit: 2 }
                 },
          eventLimitText :function(nb) { if (nb<2) return '+ un autre'; return '+'+nb+' autres'; },
          events : [{% for evt in listeDates %}
                     {
                       id : {{evt.id}},
                       allDay : false,
                       textColor : '#FFFFFF',
                       {% if evt.capacite > 0 %}backgroundColor: 'var(--couleur_base)',{% endif %}
                       title : "{{evt.titre|raw}}",
                       start : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureDebut|date('H:i')}}"
                       {% if evt.aUneDateDeFin %},end : "{{evt.dateFin|date('Y-m-d')}}"
                         {% if evt.aUneHeureDeFin %}
                           +" {{evt.heureFin|date('H:i')}}"
                         {% endif %}
                       {% else %}
                         {% if evt.aUneHeureDeFin %}
                           ,end : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureFin|date('H:i')}}"
                         {% endif %}
                       {% endif %}

                       {% if evt.aUneDateDeFin %}
                       ,isMultipleDay: true,
                       multipleDayEvents: [
                         {
                           description : "{{evt.titre}} - Premier jour",
                           start : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureDebut|date('H:i')}}",
                           end   : "{{evt.dateDebut|date('Y-m-d')}} {{evt.heureFin|date('H:i')}}"
                         },
                         {
                           description : "{{evt.titre}} - Deuxième jour",
                           start : "{{evt.dateFin|date('Y-m-d')}} {{evt.heureDebut|date('H:i')}}",
                           end   : "{{evt.dateFin|date('Y-m-d')}} {{evt.heureFin|date('H:i')}}"
                         }
                       ]
                       {% endif %}

                     }{% if (not loop.last) %},{% endif %}
                   {% endfor %}

                   ],
          eventClick : function(info) { window.open("/afficherEvt"+listeDesc[info.event.id].id,"_self"); return false; }
        });

        calendar.render();
      });

    </script>
{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block laPage %}
<div class='container-fluid' id='partieBlanche' style='width : 95%;height : 100vh; overflow-y : auto; margin-bottom : 25vh;'>
  <div class='row' style='height : 100%;'>
    <div class='col-12' id='monCalendrier' style='height : 90%;'>
    </div>

    <div class='col-12'>
      <br>&nbsp;
    </div>

  </div>
</div>
{% endblock %}
