{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}jeux.css">
  <link rel="stylesheet" href="{{css_path}}toolTip.css">
{% endblock %}

{% block corps %}
  {{ parent() }}
  
{% endblock %}

{% block laPage %}

  <div class='container-fluid'>
    <div class='row'>
      <form class='col-md-11 fondOpaque' method="POST" action="mail">
        <table>
          <tr>
            <td>Sujet :</td>
            <td><input type="text" id="titreMail" name="titreMail" style="width:50em;"></td>
          </tr>
          <tr>
            <td style="vertical-align : top;">Message :</td>
            <td><textarea class="fondOpaque" id="contenuMail" name="contenuMail" style="width:75em; height:30em;"></textarea></td>
          </tr>
          <tr>
            <td colspan=2><button type="submit">Envoyer le message</button></td>
          </tr>
          <tr>
            <td colspan=2>{% if session.messageAlert is defined %} {{session.messageAlert}} {% endif %}</td>
          </tr>
        </table>
      </form>
    </div>
  </div>

{% endblock %}

{% block piedDePage %}
{% endblock %}