{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}

    <link href='{{ fc_path }}core/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}bootstrap/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}daygrid/main.css' rel='stylesheet' />
    <link href='{{ fc_path }}list/main.css' rel='stylesheet' />

    <script src='{{ fc_path }}core/main.js'></script>
    <script src='{{ fc_path }}bootstrap/main.js'></script>
    <script src='{{ fc_path }}daygrid/main.js'></script>
    <script src='{{ fc_path }}list/main.js'></script>

    <link href='{{ css_path }}calendrier.css' rel='stylesheet' />
    <script src='{{ js_path }}calendrier.js'></script>

{% endblock %}

{% block corps %}
  {{ parent() }}
{% endblock %}

{% block laPage %}
<div class='container-fluid fondOpaque OurFont' style='padding : 0; margin : 1em;'>
  <div class='row' style='height : 100%;'>
    <div class='col-12'>
      <div class='enRelatif'>
        <button class="boutonFermer fa fa-window-close" onclick="fermerDetail()"></button>
      </div>
      <br>
    </div>
    <div class='col-12'>
      <br>
    </div>

    {% if evt is defined %}
    <div class='col-md-4 col-12'>
        <div><h3>{{evt.titre}}</h3></div>
        {% if evt.periode|length > 0 %}
        <div><h5>{{evt.periode|retourChariot|raw}}</h5></div>
        {% endif %}
        <div>
          <br>
          {# Soirée où il est possible de s'inscrire ? #}
          {% if cas > 0  %}
            {# Si l'utilisateur est connecte, verifier son nb de joueurs (1 par defaut). #}
            {% set nbJoueurs = 1 %}
            {% if 'memberConnected' in session|keys %}
            {%   set nbJoueurs = session.memberConnected.nbJoueurs %}
            {% endif %}

            {{ surcharge }}<br>

            {% if capacite - combien <= 0 %}
              <img class='enAbsolu' style='top : 2em; left : 8em; width : 9em; height : auto;' src='{{img_path}}complet.gif'>
            {% endif %}

            {% if cas == 12 %}
              {% if combien == 0 %}
              <img class='enAbsolu' style='top : -2em; left : 3em; width : 9em; height : auto;' src='{{img_path}}annule.gif'>
              Personne ne s'est inscrit. Pas de jeux chez nous ce week-end.
              {% else %}
              Les inscriptions sont closes.<br>
              Nous serons {{combien}}.
              {% endif %}
            {% elseif cas == 222 %}
              Vous devez vous connecter pour vous inscrire.<br><br>
              {#<a href='login' class='bouton bg-primary'>Page de connexion</a>#}
              <button onclick='ouvrirLogin()' class='bouton btn-primary'>Page de connexion</button>
            {% elseif cas == 211 %}
              Vous êtes déjà inscrit.<br><br>
              {#<a href='desinscription{{evt.id}}' class='bouton bg-primary'>Désinscription</a>#}
              <button onclick='desinscription({{evt.id}})' class='bouton btn-primary'>Désinscription</button>
            {% elseif cas == 2124 %}
              Inscriptions ouvertes jusqu'au {{limite|date('d/m/Y')}} au soir.<br>
              Venez jouer !<br><br>
              {#<a href='inscription{{evt.id}}' class='bouton bg-primary'>Inscription</a>#}
              <button onclick='inscription({{evt.id}})' class='bouton btn-primary'>Inscription</button>
            {% endif %}

          {% endif %}


          <br><br>
        </div>
    </div>
    <div class='col-md-7 offset-md-1 col-12' style='height:auto;padding-right : 1em;'>
      <div class='cadreBleu text-justify'>{{evt.description|retourChariot|raw}}</div>
    </div>
    {% else %}
    <h3>Cet évènement n'existe pas.</h3>
    {% endif %}

  </div>
</div>
{% endblock %}
