{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}jeux.css">
  <link rel="stylesheet" href="{{css_path}}toolTip.css">
  <style>
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  </style>
{% endblock %}

{% block corps %}
  {{ parent() }}
  
{% endblock %}

{% block laPage %}

      <div class='col-12 fondOpaque ascenseur text-justify'>
        <div class='row text-justify'>
          <div class='col-12'>
            <h1>Quelques réponses à vos questions :</h1>
            <div class="dropdown">
              <a href="#">Que propose l'association du Renard Enjoué ?</a>
              <div href="#">
                Notre association réunit des joueurs et aspirants joueurs autour de tables de jeux. Nos membres vous invitent chez eux pour jouer.
              </div>
            </div>
            <div class="dropdown">
              <a href="#">Je ne connais aucun jeu. Je peux venir quand même ?</a>
              <div href="#">
                Bien évidemment !<br>
                Quel que soit le type de jeu proposé, toutes les règles vous seront expliquées en détail avant de commencer. Il n'y a aucun prérequis pour participer à une séance de jeux. Vérifiez simplement que le profil visé vous correspond (voir ci-dessous).
              </div>
            </div>
            <div class="dropdown">
              <a href="#">Quel est le public visé ?</a>
              <div href="#">
                Chaque séance de jeu vise un public spécifique, et vous pouvez demander (par mail ou, mieux, sur le forum) l'ajout d'une date correspondant à votre profil (jeux d'ambiance, découverte de petits jeux, d'un gros jeu de stratégie ou d'un jeu spécifique par exemple).<br>
                Pour ne gâcher la partie de personne, nous sommes soucieux de ne pas mixer des joueurs débutants avec des experts. Donc, nous précisons le profil de joueur requis pour chaque partie organisée. Nous organisons des parties pour :
<li>les débutants : ceux qui jouent peu ou qui ne connaissent que les jeux classiques, comme le tarôt, mais qui veulent découvrir les jeux de société modernes</li>
<li>les experts : ils ont déjà joué à des jeux de plusieurs heures, connaissent les Colons de Catane et sont prêts à digérer une demie-heure d'explication de règles</li>
<li>les joueurs "intermédiaires", les connaisseurs et les curieux : prêts à découvrir de nouveaux jeux, sur une ou deux heures, voire plus si affinité</li>
              </div>
            </div>
            <div class="dropdown">
              <a href="#">Où se situent vos locaux ?</a>
              <div href="#">
                Nous n'en avons pas (encore), mais nous mettons la pression sur la mairie pour en obtenir un.<br>
                En attendant, nous jouons les uns chez les autres : nos membres proposent des séances de jeux et vous invitent chez eux pour jouer.<br>
                La plupart de ces séances se déroulent au :<br>
                <div class='custom-control custom-checkbox'>
                  <b>4 boulevard Pierre Mendès France<br>
                  77600 Bussy Saint Georges<br></b>
                </div>
                <img src="{{ img_path }}planQuartier.png" style='width : 100%;'>
              </div>
            </div>
        </div>
      </div>

{% endblock %}

{% block piedDePage %}
{% endblock %}
