{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}jeux.css">
  <link rel="stylesheet" href="{{css_path}}toolTip.css">
  <link rel="stylesheet" href="{{css_path}}faq.css">
  <script src="{{js_path}}faq.js"></script>
{% endblock %}

{% block corps %}
  {{ parent() }}
  
{% endblock %}

{% block laPage %}

    <div class="col-12 ascenseur container" style="box-sizing: border-box;">{# colonne 1 #}
      <div class="row encadrer cadreBleu fondOpaque">
        <div class='col-12'>
          <div id="mainDivFaq" class="mainDivFAQ"></div>
          <h1 style="color:var(--couleur_base);">Quelques réponses à vos questions :</h1>
        </div>

        <div class='col-lg-6 col-md-12'> <!-- colonne 1 -->
          <div class="row"> <!-- colonne 1 -->
            <table>

              <tr><td>
                <a href="#" onclick="openDiv('div01')">Je ne connais aucun jeu. Je peux venir quand même ?</a>
                <div class="divFAQ" id="div01" onload="ranger('div01')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                  <h2>Je ne connais aucun jeu. Je peux venir quand même ?</h2>
                  Bien évidemment !<br>
                  Quel que soit le type de jeu proposé, toutes les règles vous seront expliquées en détail avant de commencer. Il n'y a aucun prérequis pour participer à une séance de jeux. Vérifiez simplement que le profil visé vous correspond (voir la question qui suit).
                </div>
              </td></tr>

              <tr><td>
                <a href="#" onclick="openDiv('div02')">Quel est le public visé ?</a>
                <div class="divFAQ" id="div02" onload="ranger('div02')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                  <h2>Public visé :</h2>
                  Chaque séance de jeu vise un public spécifique. Pour ne gâcher la partie de personne, nous sommes soucieux de ne pas mixer des joueurs novices avec des experts. Donc, nous précisons le profil de joueur requis pour chaque partie organisée. Nous organisons des parties pour tous :<br>
                <table>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td>Les débutants, peu coutumiers des jeux, à part les classiques, comme la belote ou le 1000 bornes
                    </td>
                  </tr>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td>Les joueurs confirmés, qui ont déjà joué à des jeux de plusieurs heures et sont prêts à digérer une demie-heure d'explication de règles
                    </td>
                  </tr>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td>les curieux et profils "intermédiaires", prêts à découvrir de nouveaux jeux de durée moyenne
                    </td>
                  </tr>
                </table>
                </div>
              </td></tr>

              <tr><td>
                <a href="#" onclick="openDiv('div03')">Comment vous joindre ?</a>
                <div class="divFAQ" id="div03" onload="ranger('div03')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                  <h2>Comment nous joindre :</h2>
                  Nous sommes toujours ravis d'avoir de vos nouvelles. Vous pouvez nous contacter :<br>
                <table>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td style="height : 0.8em;" class="lienBlanc"><a class="lienBlanc" href="https://chat.whatsapp.com/LqthdgBiMbzKReFSF2vnon">avec WhatsApp</a></td>
                  </tr>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td style="height : 0.8em;" class="lienBlanc"><a class="lienBlanc" href="https://discord.com/channels/886954892076404768/886957613110153226">sur Discord</a></td>
                  </tr>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td style="height : 0.8em;" class="lienBlanc"><a class="lienBlanc" href="https://www.facebook.com/lerenardenjoue">sur Facebook</a></td>
                  </tr>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td style="height : 0.8em;" class="lienBlanc"><a class="lienBlanc" href="mailto:myosotis.arae@gmail.com?subject=Bonjour,%20le%20Renard%20Enjoué">ou par mail : myosotis.arae@gmail.com</a></td>
                  </tr>
                </table>
                </div>
              </td></tr>

              <tr><td>
                <a href="#" class="toggle" onclick="openDiv('div04')">Où se situent vos locaux ?</a>
                <div class="divFAQ" id="div04" onload="ranger('div04')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                <table>
                  <tr>
                    <td style="width : 70%; vertical-align : text-bottom;">
                      <h2>Nos locaux</h2>
                      Une séance tout public se déroulera le deuxième lundi de chaque mois, à la salle des fêtes.
					  <b><br>Salle des fêtes Maurice Koehl
					  <br>Cour de la Rivière
					  <br>Face à la mairie de Bussy Saint Georges</b>
                    </td>
                    <td style="width : 30%">
                      <img src="{{ img_path }}salle_M_Koehl.png" style='width : 100%;' alt="Salle des fêtes">
                    </td>
                  <tr>
				</table>
				<table>
                  <tr>
                    <td style="width : 25%>
                      <img src="{{ img_path }}planQuartier.png" style='width : 100%;' alt="Plan du quartier de la gare">
                    </td>
                    <td style="width : 75%; vertical-align : text-bottom;">
                      Les autres séances sont organisées par nos membres, chez eux. Le forum discord vous permettra d'en créer aussi si vous le souhaitez (tapez juste "/creer" dans n'importe quel message du forum et renseignez les paramètres demandés en les séparant d'une tabulation).<br>
                      Des séances continueront d'être organisées à la demande au siège de l'asso.<br>
                      <b><br>Siège de l'association
					  <br>4 boulevard Pierre Mendès France
                      <br>77600 Bussy Saint Georges</b>
                    </td>
                  </tr>
                </table>
                </div>
              </td></tr>

            </table>
          </div> <!-- row de la colonne 1 -->
        </div> <!-- colonne 1 -->

        <div class='col-lg-6 col-md-12'> <!-- colonne 2 -->
          <div class='row'> <!-- colonne 2 -->
            <table>

              <tr><td>
                <a href="#" onclick="openDiv('div05')">Que propose l'association du Renard Enjoué ?</a>
                <div class="divFAQ" id="div05" onload="ranger('div05')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                      <h2>Que propose l'association du Renard Enjoué ?</h2>
                  Notre association réunit des joueurs et aspirants joueurs autour de tables de jeux. Nos membres vous invitent chez eux pour jouer. De plus, une soirée tout public se déroule à la salle des fêtes chaque mois, et l'association participe aux soirées ludothèque (avant chaque vacance scolaire). Vous pouvez aussi venir avec vos jeux.<br>Tout ça s'organise facilement grâce au forum.
                </div>
              </td></tr>

              <tr><td>
                <a href="#" onclick="openDiv('div06')">De quand date l'association du Renard Enjoué ?</a>
                <div class="divFAQ" id="div06" onload="ranger('div06')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                      <h2>De quand date l'association du Renard Enjoué ?</h2>
                  L'association a été fondée en 2019.<br>Son objectif est de vous aider à trouver des joueurs près de chez vous, pour jouer plus souvent, plus facilement. Vous pourrez aussi y découvrir nombre de jeux intéressants, qui vous seront présentés par leurs propriétaires lors de nos séances de jeux.<br>Tout le monde peut créer sa propre séance, grâce aux commandes slash gérées par notre bot sur Discord.
                </div>
              </td></tr>

              <tr><td>
                <a href="#" onclick="openDiv('div07')">Présentation de l'asso en vidéo</a>
                  <div class="divFAQ" id="div07" onload="ranger('div07')">
                    <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                      <h2>Présentation de l'asso en vidéo</h2>
                      <iframe style="height : 90%;" src="https://www.youtube.com/embed/svgnDivZn10"></iframe>
                  </div>
              </td></tr>

            </table>
          </div> <!-- row de la colonne 2 -->
        </div> <!-- colonne 2 -->


        </div>
      </div>

{% endblock %}

{% block piedDePage %}
{% endblock %}
