{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}jeux.css">
  <link rel="stylesheet" href="{{css_path}}toolTip.css">
  <link rel="stylesheet" href="{{css_path}}faq.css">
  <script src="{{js_path}}faq.js"></script>
{% endblock %}

{% block corps %}
  {{ parent() }}
  
{% endblock %}

{% block laPage %}

    <div class="col-12 ascenseur container" style="box-sizing: border-box;">{# colonne 1 #}
      <div class="row encadrer cadreBleu fondOpaque">
        <div class='col-12'>
          <div id="mainDivFaq" class="mainDivFAQ" style="overflow:auto"></div>
          <h1 style="color:var(--couleur_base);">Quelques réponses à vos questions :</h1>
        </div>

        <div class='col-lg-6 col-md-12'> <!-- colonne 1 -->
          <div class="row"> <!-- colonne 1 -->
            <table>

              <tr><td>
                <a href="#" onclick="openDiv('div01')">Je ne connais aucun jeu. Je peux venir quand même ?</a>
                <div class="divFAQ" id="div01" onload="ranger('div01')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                  <table>
                    <tr>
                      <td style="width : 80%;">
                  <h2>Je ne connais aucun jeu. Je peux venir quand même ?</h2><br>
                  Bien évidemment !<br><br>
                  Quel que soit le type de jeu proposé, toutes les règles vous seront expliquées en détail avant de commencer. Il n'y a aucun prérequis pour participer à une séance de jeux.<br>
                  Veillez simplement à choisir un jeu qui vous correspond, tant en termes de complexité que de durée (voir la question : <a href="#" onclick="openDiv('div02')"> "Quel est le public visé ?"</a>).
                      </td>
                      <td style="width : 20%;">
                        <img src="{{ img_path }}renardeau_de.png" style="width:100%;" alt="Alors c'est ça les jeux des humains ? Bizarre ...">
                      </td>
                    </tr>
                  </table>
                </div>
              </td></tr>

              <tr><td>
                <a href="#" onclick="openDiv('div02')">Quel est le public visé ?</a>
                <div class="divFAQ" id="div02" onload="ranger('div02')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                  <h2>Public visé :</h2><br>
                  Nous organisons des parties pour tous :<br>
                <table>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td>Les débutants, peu coutumiers des jeux, à part les classiques, comme la belote ou le 1000 bornes
                    </td>
                  </tr>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td>Les joueurs confirmés, qui ont déjà joué à des jeux de plusieurs heures et sont prêts à digérer une demie-heure d'explication de règles
                    </td>
                  </tr>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td>les curieux et profils "intermédiaires", prêts à découvrir de nouveaux jeux de durée moyenne
                    </td>
                  </tr>
                </table>
                <br>Lors des séances extérieures (salle M. Koehl, salle LCL ou médiathèque), plusieurs jeux sont disponibles, et nous vous conseillons pour que vous en choisissiez un qui vous convient.
                <br>Les jeux que nous proposons à la médiathèque sont de durée moyenne à courte, parce qu'il est impossible de déborder sur les horaires. Dans les deux autres salles, on peut. Il est donc possible de jouer à des jeux qui prennent 2 ou 3h. Mais, pas d'inquiétude ! Nous apportons aussi des jeux plus petits.
                 <br>On vous fera un topo sur les jeux disponibles à votre arrivée, ce qui vous permettra de vous décider.
                </div>
              </td></tr>

              <tr><td>
                <a href="#" onclick="openDiv('div03')">Comment vous joindre ?</a>
                <div class="divFAQ" id="div03" onload="ranger('div03')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                  <h2>Comment nous joindre :</h2><br>
                  Nous sommes toujours ravis d'avoir de vos nouvelles. Vous pouvez nous contacter :<br>
                <table>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td style="height : 0.8em;" class="lienBlanc"><a class="lienBlanc" href="https://chat.whatsapp.com/LqthdgBiMbzKReFSF2vnon">avec WhatsApp</a></td>
                  </tr>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td style="height : 0.8em;" class="lienBlanc"><a class="lienBlanc" href="https://discord.gg/jqnJa4WG7X">sur Discord</a></td>
                  </tr>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td style="height : 0.8em;" class="lienBlanc"><a class="lienBlanc" href="https://www.facebook.com/lerenardenjoue">sur Facebook</a></td>
                  </tr>
                  <tr>
                    <td class="fox">&#x1F98A;</td>
                    <td style="height : 0.8em;" class="lienBlanc"><a class="lienBlanc" href="mailto:renardenjoue@gmail.com?subject=Bonjour,%20le%20Renard%20Enjoué">ou par mail : renardenjoue@gmail.com</a></td>
                  </tr>
                </table>
                <img src="{{ img_path }}renard_courrier.png" style='height : 30%;' alt="Le renard lit toujours son courrier.">
                </div>
              </td></tr>

              <tr><td>
                <a href="#" class="toggle" onclick="openDiv('div04')">Où se situent vos locaux ?</a>
                <div class="divFAQ" id="div04" onload="ranger('div04')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                <table>
                  <tr>
                    <td style="width : 20%; vertical-align : text-bottom;">
                      <br><br>Tous les mardis<br>
                      19h30 - 23h30<br>
                      <br>Membres uniquement<br><br>
                      <b>Salle LCL<br>
                      4 rue Konrad Adenauer<br></b>
                    </td>
                    <td style="width:40%">
                      <h2>Nos locaux</h2><br>
                      <img src="{{ img_path }}plan_RER_LCL.png" style='width : 100%;' alt="Plan Salle LCL">
                    </td>
                    <td style="width:40%">
                      <img src="{{ img_path }}porte_LCL.png" style='width : 100%;' alt="Porte Salle LCL">
                    </td>
                  </tr>
                </table>
                <b>Attention</b>, l'accès n'est pas situé dans cette rue mais côté Grand Place (l'esplanade avec les grandes statues).<br><br>
                <table>
                  <tr>
                    <td style="width : 35%">
                      <img src="{{ img_path }}salle_M_Koehl.png" style='width : 100%;' alt="Salle des fêtes">
                    </td>
                    <td style="width : 40%">
                      <img src="{{ img_path }}plan_Koehl.png" style='width : 100%;' alt="Plan Salle des fêtes">
                    </td>
                    <td style="width : 25%">
                      Le 2<sup>e</sup> lundi de chaque mois<br>
                      19h - 23h<br><br>
                      Séance tout public<br>
					  <b><br>Salle Maurice Koehl
					  <br>Cour de la Rivière
                    </td>
                  <tr>
				</table>
			    C'est situé en face de la mairie de Bussy Saint Georges.</b><br><br>
				<br>
				<table>
                  <tr>
                    <td style="width : 20%">
                      <img src="{{ img_path }}planQuartier.png" style='width : 80%;' alt="Plan du quartier de la gare">
                    </td>
                    <td style="width : 80%; vertical-align : text-bottom;">
                      Les autres séances sont organisées par nos membres, chez eux. Le forum discord vous permettra d'en créer aussi si vous le souhaitez (tapez juste "/creer" dans n'importe quel message du forum et renseignez les paramètres demandés en les séparant d'une tabulation).<br>
                      Des séances continueront d'être organisées à la demande au siège de l'asso.<br>
                      <b><br>Siège de l'association
					  <br>4 boulevard Pierre Mendès France
                      <br>77600 Bussy Saint Georges</b>
                    </td>
                  </tr>
                </table>
                </div>
              </td></tr>

            </table>
          </div> <!-- row de la colonne 1 -->
        </div> <!-- colonne 1 -->

        <div class='col-lg-6 col-md-12'> <!-- colonne 2 -->
          <div class='row'> <!-- colonne 2 -->
            <table>

              <tr><td>
                <a href="#" onclick="openDiv('div05')">Que propose l'association du Renard Enjoué ?</a>
                <div class="divFAQ" id="div05" onload="ranger('div05')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                      <h2>Que propose l'association du Renard Enjoué ?</h2><br>
                  Notre association réunit des joueurs et aspirants joueurs autour de tables de jeux.<br>
                  Vous pouvez venir jouer dans différentes salles municipales :
                  <table>
                   <tr>
                     <td class="fox">&#x1F98A;</td>
                     <td><a href="#" onclick="openDiv('div04')">La salle des fêtes</a> : le 2<sup>ème</sup> lundi de chaque mois (même en juillet-août)</td>
                   </tr>
                   <tr>
                     <td class="fox">&#x1F98A;</td>
                    <td><a href="#" onClick="openDiv('div04')">La salle LCL</a> : tous les mardis, mais pas pendant les vacances scolaires (réservé aux membres de l'association)</td>
                   </tr>
                   <tr>
                     <td class="fox">&#x1F98A;</td>
                    <td>La médiathèque : le samedi soir situé juste avant les vacances scolaires</td>
                   </tr>
                  </table>
                  <table>
                    <tr>
                      <td style="width : 75%">
                        Ces salles sont parfois indisponibles en raison de réunions municipales ou autres évènements.<br>
                        Retrouvez toutes les dates sur <a href="calendrier">le planning</a>.<br><br>
                        Nos membres vous invitent aussi chez eux pour jouer. Dans ce cas, il faut s'inscrire, depuis ce site, ou depuis le forum Discord.<br><br>
                        Les soirées jeux du lundi et celles à la médiathèque sont gratuites et ouvertes à tous.<br>
                        Les autres séances sont réservées aux membres. Venez demander votre bulletin d'adhésion : un seul formulaire par foyer. Nous proposons un tarif libre :  0 à 10€ à l'année (de septembre à août).
                      </td>
                      <td>
                        <img src="{{ img_path }}renards_dominos.gif" style='width : 100%;' alt="Jeu de plateau">
                      </td>
                    </tr>
                  </table>
                </div>
              </td></tr>

              <tr><td>
                <a href="#" onclick="openDiv('div06')">De quand date l'association du Renard Enjoué ?</a>
                <div class="divFAQ" id="div06" onload="ranger('div06')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                      <h2>De quand date l'association du Renard Enjoué ?</h2><br>
                  L'association a été fondée en 2019.<br>Son objectif est de vous aider à trouver des joueurs près de chez vous, pour jouer plus souvent, plus facilement. Vous pourrez aussi y découvrir nombre de jeux intéressants, qui vous seront présentés par leurs propriétaires lors de nos séances de jeux.<br>
                  Nous sommes présents à chaque soirée ludothèque (salle Victor Hugo, à la médiathèque) et disposons de plusieurs salles sur Bussy Saint-Georges. Retrouvez-les <a href="#" onclick="openDiv('div04')">ici</a>.<br>
                  En plus, tout membre peut créer sa propre séance, grâce aux commandes slash gérées par notre bot sur Discord, et inviter des joueurs chez lui.
                </div>
              </td></tr>

              <tr><td>
                <a href="#" onclick="openDiv('div07')">Présentation de l'association</a>
                  <div class="divFAQ" id="div07" onload="ranger('div07')">
                    <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                      <h2>Présentation de l'association :</h2>
                      <br>Cliquez ci-dessous pour visualiser :<br><br>
                      <li><a href='https://www.youtube.com/watch?v=jx0ZGQ44KYw'>notre vidéo (muette) sur YouTube, pour un aperçu de nos activités</a></li>
                      <li><a href='Le_Renard_Enjoue.pdf'>le document d'accueil, qui tente de répondre aux questions usuelles sur notre fonctionnement</a></li>
                      <li><a href='reglement_interieur.pdf'>notre règlement intérieur complet</a></li>
                  </div>
              </td></tr>

            </table>
          </div> <!-- row de la colonne 2 -->
        </div> <!-- colonne 2 -->


        </div>
      </div>

{% endblock %}

{% block piedDePage %}
{% endblock %}
