{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}jeux.css">
  <link rel="stylesheet" href="{{css_path}}toolTip.css">
  <link rel="stylesheet" href="{{css_path}}faq.css">
  <script src="{{js_path}}faq.js"></script>
{% endblock %}

{% block corps %}
  {{ parent() }}
  
{% endblock %}

{% block laPage %}

    <div class="col-12 ascenseur container" style="box-sizing: border-box;">{# colonne 1 #}
      <div class="row encadrer cadreBleu fondOpaque">
        <div class='col-12'>
          <div id="mainDivFaq" class="mainDivFAQ w-100" style="overflow:auto;"></div>
          <h1 style="color:var(--couleur_base);">Quelques réponses à vos questions :</h1><br>
        </div>

        <div class='col-md-6 col-12'> <!-- colonne 1 -->
          <div class="row" style="padding : 0"> <!-- colonne 1 -->
            <div class="col-12">
              <a class="fox" href="#" onclick="openDiv('div01')">{{ tiretRenard | raw }}Je ne connais aucun jeu. Je peux venir quand même ?</a>
              <div class="divFAQ" id="div01" onload="ranger('div01')">
                <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                <div class="container-fluid" style="padding : 0">
                  <div class="row" style="padding : 0">
                    <div class="col-12" style="padding : 0">
                      <h2>Je ne connais aucun jeu. Je peux venir quand même ?</h2><br>
                    </div>
                    <div class="col-12 col-md-9" style="padding : 0">
                      Bien évidemment !<br><br>
                      Quel que soit le type de jeu proposé, toutes les règles vous seront expliquées en détail avant de commencer. Il n'y a aucun prérequis pour participer à une séance de jeux.<br>
                      Veillez simplement à choisir un jeu qui vous correspond, tant en termes de complexité que de durée (voir la question : <a href="#" onclick="openDiv('div02')"> "Quel est le public visé ?"</a>).
                    </div>
                    <div class="col-12 col-md-3" style="padding : 0">
                      <img src="{{ img_path }}renardeau_de.png" style="width:80%;" alt="Alors c'est ça les jeux des humains ? Bizarre ...">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <a class="fox" href="#" onclick="openDiv('div02')">{{ tiretRenard | raw }}Quel est le public visé ?</a>
              <div class="divFAQ" id="div02" onload="ranger('div02')" style="padding:0">
                <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                <h2>Public visé :</h2><br>
                Nous organisons des parties pour tous :
                    {{ tiretRenard | raw }}Les débutants, peu coutumiers des jeux, à part les classiques, comme la belote ou le 1000 bornes
                    {{ tiretRenard | raw }}Les joueurs confirmés, qui ont déjà joué à des jeux de plusieurs heures et sont prêts à digérer une demie-heure d'explication de règles
                    {{ tiretRenard | raw }}les curieux et profils "intermédiaires", prêts à découvrir de nouveaux jeux de durée moyenne
                <br><br>Lors des séances extérieures (salle M. Koehl, salle LCL ou médiathèque), plusieurs jeux sont disponibles, et nous vous conseillons pour que vous en choisissiez un qui vous convient.
                <br>Les jeux que nous proposons à la médiathèque sont de durée moyenne à courte, parce qu'il est impossible de déborder sur les horaires. Dans les deux autres salles, on peut. Il est donc possible de jouer à des jeux qui prennent 2 ou 3h. 
                <br>Mais, pas d'inquiétude ! Nous apportons aussi des jeux plus légers.
                <br>On vous fera un topo sur les jeux disponibles à votre arrivée, ce qui vous permettra de vous décider.
              </div>
            </div>

            <div class="col-12">
              <a class="fox" href="#" onclick="openDiv('div03')">{{ tiretRenard | raw }}Comment vous joindre ?</a>
              <div class="divFAQ" id="div03" onload="ranger('div03')">
                <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                <h2>Comment nous joindre :</h2><br>
                Nous sommes toujours ravis d'avoir de vos nouvelles :<br>
                <a class="lienBlanc" href="https://chat.whatsapp.com/LqthdgBiMbzKReFSF2vnon">{{ tiretRenard | raw }}sur WhatsApp</a>
                <a class="lienBlanc" href="https://discord.gg/jqnJa4WG7X">{{ tiretRenard | raw }}sur Discord</a>
                <a class="lienBlanc" href="https://www.facebook.com/lerenardenjoue">{{ tiretRenard | raw }}sur Facebook</a>
                <a class="lienBlanc" href="mailto:renardenjoue@gmail.com?subject=Bonjour,%20le%20Renard%20Enjoué">{{ tiretRenard | raw }}ou par mail : renardenjoue@gmail.com</a>
                <br><img src="{{ img_path }}renard_courrier.png" style='height : 30%;' alt="Le renard lit toujours son courrier.">
              </div>
            </div>
  
            <div class="col-12">
              <a class="fox" href="#" class="toggle" onclick="openDiv('div04')">{{ tiretRenard | raw }}Où se situent vos locaux ?</a>
              <div class="divFAQ" id="div04" onload="ranger('div04')" style="padding : 0">
                <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                <div class="container-fluid" style="padding : 0">
                  <div class="row gx-md-5" style="padding : 0">
                    <div class="col-12 col-md-8" style="padding : 0">
                      <div class="container-fluid" style="padding : 0">
                        <div class="row" style="padding : 0">
                          <div class="col-12 col-md-3" style="padding : 0"> {# Laisser vide le début de la colonne (sur grand écran) #}
                          </div>
                          <div class="col-12 col-md-3" style="padding : 0"> {# Titre : sur 2 lignes sur téléphone, sur une ligne sur grand écran #}
                            <h2>Nos locaux : </h2><br> {# Titre - Partie 1 #}
                          </div>
                          <div class="col-12 col-md-3" style="padding : 0"> {# Titre : sur 2 lignes sur téléphone, sur une ligne sur grand écran #}
                            <h2>La salle LCL</h2><br> {# Titre - Partie 2 #}
                          </div>
                          <div class="col-12 col-md-3" style="padding : 0"> {# Laisser vide le reste de la colonne (sur grand écran) #}
                          </div>
                          <div class="col-12 col-md-5"> {# bloc horaires + adresse, en colonne sur grand écran, en ligne sur téléphone #}
                            <div class="container-fluid" style="padding : 0">
                              Tous les mardis : 19h30 - 23h30<br>
                              Et tous les samedis : 14h15 - 17h50<br>
                              <b>Salle LCL<br>
                              4 rue Konrad Adenauer<br></b>
                              Membres uniquement
                            </div>
                          </div>
                          <div class="col-12 col-md-7" style="padding : 0;text-align:center;"> {# plan LCL #}
                            <img src="{{ img_path }}plan_RER_LCL.png" alt="Plan Salle LCL" style="width:90%"><br><br>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-4" style="padding : 0">
                      <img src="{{ img_path }}porte_LCL.png" alt="Porte Salle LCL" class="w-100">
                    </div>
                    <div class="col-12" style="padding : 0">
                      <b>Attention</b>, l'accès n'est pas situé dans cette rue mais côté Grand Place (l'esplanade avec les grandes statues).<br><br>
                    </div>
                    <div class="col-12" style="padding : 0">
                      <div class="container-fluid" style="padding : 0">
                        <div class="row" style="padding : 0">
                          <div class="col-12 col-md-3" style="padding : 0"> {# Laisser vide le début de la colonne (sur grand écran) #}
                          </div>
                          <div class="col-12 col-md-3" style="padding : 0"> {# Titre : sur 2 lignes sur téléphone, sur une ligne sur grand écran #}
                            <h2>Nos locaux : </h2><br> {# Titre - Partie 1 #}
                          </div>
                          <div class="col-12 col-md-3"> {# Titre : sur 2 lignes sur téléphone, sur une ligne sur grand écran #}
                            <h2>La salle des fêtes</h2><br> {# Titre - Partie 2 #}
                          </div>
                          <div class="col-12 col-md-3" style="padding : 0"> {# Laisser vide le reste de la colonne (sur grand écran) #}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-5"> {# plan :  carré + zoom rond #}
                      <img src="{{ img_path }}plan_Koehl.png" style='width : 100%;' alt="Plan Salle des fêtes">
                    </div>
                    <div class="col-12 col-md-4"> {# photo de l'entrée de la salle des fêtes #}
                      <img src="{{ img_path }}salle_M_Koehl.png" style='width : 100%;' alt="Salle des fêtes">
                    </div>
                    <div class="col-12 col-md-3"> {# horaires + adresse #}
                      Le 2<sup>e</sup> lundi de chaque mois<br>
                      19h - 23h30<br><br>
                      <b><br>Salle Maurice Koehl
                      <br>Cour de la Rivière</b>
                      <br>Séance tout public<br>
                    </div>
                    <div class="col-12">
                      C'est situé en face de la mairie de Bussy Saint Georges.<br><br>
                    </div>
                    <div class="col-12">
                      D'autres séances pourront être organisées par nos membres, chez eux.
                    </div>
                    <div class="col-12 col-md-6">
                      <br>Des séances continueront d'être organisées à la demande au siège de l'asso.<br>
                      <b><br>Siège de l'association :
                      <br>4 bd Pierre Mendès France
                      <br>Bussy Saint Georges</b>
                    </div>
                    <div class="col-12 col-md-6">
                     <img src="{{ img_path }}planQuartier.png" style='width : 100%;' alt="Plan du quartier de la gare">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- row de la colonne 1 -->
        </div> <!-- colonne 1 -->

        <div class='col-12 col-md-6'> <!-- colonne 2 -->
          <div class='row'> <!-- colonne 2 -->
            <div class='col-12'>
                <a class="fox" href="#" onclick="openDiv('div05')">{{ tiretRenard | raw }}Que propose l'association du Renard Enjoué ?</a>
                <div class="divFAQ" id="div05" onload="ranger('div05')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                  <div class="container-fluid" style="padding:0">
                    <div class="row" style="padding:0">
                      <div class="col-12" style="padding:0">
                        <h2>Que propose l'association du Renard Enjoué ?</h2><br>
                      </div>
                      <div class="col-12" style="padding:0">
                        Notre association réunit des joueurs et aspirants joueurs autour de tables de jeux.<br>
                        Vous pouvez venir jouer dans différentes salles municipales :
                            <a href="#" onclick="openDiv('div04')">{{ tiretRenard | raw }}<b>La salle des fêtes</b></a> : le 2<sup>ème</sup> lundi de chaque mois (même en juillet-août)
                           <a href="#" onClick="openDiv('div04')">{{ tiretRenard | raw }}<b>La salle LCL</b></a> : tous les mardis et samedis, même pendant les vacances scolaires et juillet-août (réservé aux membres de l'association)
                           {{ tiretRenard | raw }}<b><i>La médiathèque :</i></b> le samedi soir situé juste avant les vacances scolaires
                      </div>
                      <div class="col-12 col-md-8" style="padding:0">
                        Dans de rares cas, ces dates peuvent être décalées en raison d'événements municipaux.<br>
                        Vérifiez les sur <a href="calendrier">le planning du site</a>, sur <a href="https://www.facebook.com/lerenardenjoue²">Facebook</a> ou sur <a href="https://discord.gg/jqnJa4WG7X">Discord</a>.<br><br>
                        Nos membres vous invitent aussi chez eux pour jouer. Dans ce cas, il est possible d'utiliser les outils de création et d'inscription de l'asso (sur ce site, ou sur le forum Discord).<br><br>
                        Les soirées jeux du lundi et celles qui se passent à la médiathèque sont gratuites et ouvertes à tous.<br>
                        Les autres séances sont réservées aux membres. Venez demander votre bulletin d'adhésion : il suffit d'un seul formulaire par foyer, et le tarif est libre :  <b>de 0 à 10€ à l'année</b> (de septembre à août).
                          </div>
                      <div class="col-12 col-md-4" style="padding:0">
                         <img src="{{ img_path }}renards_dominos.gif" style='width : 100%;' alt="Jeu de plateau">
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class='col-12'>

                <a class="fox" href="#" onclick="openDiv('div06')">{{ tiretRenard | raw }}De quand date l'association du Renard Enjoué ?</a>
                <div class="divFAQ" id="div06" onload="ranger('div06')">
                  <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                      <h2>De quand date l'association du Renard Enjoué ?</h2><br>
                  L'association a été fondée en 2019.<br>Son objectif est de vous aider à trouver des joueurs près de chez vous, pour jouer plus souvent, plus facilement. Vous pourrez aussi y découvrir nombre de jeux intéressants, qui vous seront présentés par leurs propriétaires lors de nos séances de jeux.<br>
                  Nous sommes présents à chaque soirée ludothèque (salle Victor Hugo, à la médiathèque) et disposons de plusieurs salles sur Bussy Saint-Georges. Retrouvez-les <a href="#" onclick="openDiv('div04')">ici</a>.<br>
                  En plus, tout membre peut créer sa propre séance, grâce aux commandes slash gérées par notre bot sur Discord, et inviter des joueurs chez lui.
                </div>

            </div>

            <div class='col-12'>

                <a class="fox" href="#" onclick="openDiv('div07')">{{ tiretRenard | raw }}Présentation de l'association</a>
                  <div class="divFAQ" id="div07" onload="ranger('div07')">
                    <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                      <h2>Présentation de l'association :</h2>
                        {{ tiretRenard | raw }}<a href='doc/presentation_courte.pdf'>Une présentation rapide de l'association</a>
                        {{ tiretRenard | raw }}<a href='doc/presentation_Le_Renard_Enjoue.pdf'>Une présentation complète de l'association</a>
                        {{ tiretRenard | raw }}<a href='https://www.youtube.com/watch?v=mU6UaUXCmbw&list=UUwnkUbU7Wf0mVMhj39XhHJQ'>présentation en vidéo (la vidéo est muette ; vous serez redirigé sur youtube)</a>
                  </div>

            </div>

            <div class='col-12'>

                <a class="fox" href="#" onclick="openDiv('div08')">{{ tiretRenard | raw }}Documents à télécharger</a>
                  <div class="divFAQ" id="div08" onload="ranger('div08')">
                    <button onclick="closeDivs()" class="boutonFermer fa fa-window-close"></button>
                      <h2>Vous pouvez visualiser et télécharger les documents suivants :</h2>
                        {{ tiretRenard | raw }}<a href='doc/formulaire_inscription_2024.pdf'>Le formulaire d'inscription pour l'année 2024-2025</a>
                        {{ tiretRenard | raw }}<a href='doc/formulaire_RGPD.pdf'>Le formulaire RGPD, pour les boutiques partenaires</a>
                        {{ tiretRenard | raw }}<a href='doc/Règlement intérieur 2024.pdf'>Le règlement complet de l'association</a>
</a>
                        {{ tiretRenard | raw }}<a href='doc/discord_commandes_slash.pdf'>Le guide des commandes slash de notre forum discord</a>
                        {{ tiretRenard | raw }}<a href='doc/Flyer Le Renard Enjoué.pdf'>Notre flyer</a>
                      <br><br>N'imprimez un document que si c'est nécessaire. <br>Vous pourrez toujours les consulter sur ce site.
                  </div>

            </div>

          </div> <!-- row de la colonne 2 -->
        </div> <!-- colonne 2 -->


        </div>
      </div>

{% endblock %}

{% block piedDePage %}
{% endblock %}
