{% extends 'main.html.twig' %}

{% block entete %}
  {{ parent() }}
  <link rel='stylesheet' href='{{css_path}}jeux.css'>
  <link rel='stylesheet' href='{{css_path}}toolTip.css'>
  <script src='{{js_path}}jeux.js'></script>
{% endblock %}

{% block corps %}
  {{ parent() }}
  
{% endblock %}

{% block laPage %}
      <div class='col-12 OurFont'>{# Bloc Filtrage des jeux #}
        <div class='fondOpaque cadreBleu'>
          <form  method='POST' action='jeux?operation=recherche'>
              <table class='w-100'>
                <tr>
                  <td>
                    <label>Titre</label>
                  </td>
                  <td style='position:relative;'>
                    <a href='#' style='position:relative;'>
                      <input type='text' name='jeuTitre'><div class='tool-tip right'>Nom&nbsp;complet&nbsp;ou&nbsp;partiel</div>
                    </a>
                  </td>
                  <td>
                    <label>Niveau</label>
                  </td>
                  <td>
                    <a href='#' style='position:relative;'>
            					<select name='jeuNiveau'>
            						<option value='0'></option>
        	    					<option value='1' class='fondVert' alt='Parties courtes, règles simples'>famille - enfants</option>
        			    			<option value='2' class='fondJaune'>abordable</option>
      	  				    	<option value='3' class='fondOrange'>confirmés</option>
    			  						<option value='4' class='fondRouge'>connaisseurs</option>
          	  					<option value='5' class='fondNoir'>experts</option>
      	    	  			</select>
                      <div class='tool-tip left'>Difficulté&nbsp;recherchée.</div>
                    </a>
                  </td>
                  <td>
                    <label>Durée</label>
                  </td>
                  <td>
                    <a href='#' style='position:relative;'>
          						<select name='jeuDuree'>
          							<option value='0'></option>
        								<option value='1'>20mn ou moins</option>
  		    							<option value='2'>20 à 45mn</option>
      	    						<option value='3'>jusqu'à 1h30</option>
      		    					<option value='4'>1h30 à 3h</option>
      			    				<option value='5'>3h ou plus</option>
    					    		</select>
                      <div class='tool-tip left'>Durée&nbsp;d'une&nbsp;partie.
                      </div>
                    </a>
                  </td>
                  <td>
                    <label>Nombre</label>
                  </td>
                  <td>
                    <a href='#' style='position:relative;'>
            					<select name='jeuNb'>
        	    					<option value='0'></option>
      				    			<option value='1'>1 joueur</option>
 			  					    	<option value='2'>2 joueurs</option>
            						<option value='3'>3 joueurs</option>
            						<option value='4'>4 joueurs</option>
      	      					<option value='5'>5 joueurs</option>
						      			<option value='6'>6 joueurs</option>
      					      	<option value='7'>7 joueurs</option>
          				  		<option value='8'>8 joueurs et plus</option>
          					  </select>
                      <div class='tool-tip left'>Nombre&nbsp;de&nbsp;joueurs.</div>
                    </a>
                  </td>
                  <td>
                    <input type='submit' class='cadreBleu fondBleu bouton OurFont' href='jeux?operation=recherche' title='Rechercher les jeux correspondants à ces critères' value='Chercher'>
                  </td>
                </tr>
              </table>
          </form>
        </div>
      </div>{# Bloc Filtrage des jeux #}

      <div class='col-12'>
        <br>
      </div>

      <div class='col-12 OurFont'>{# Bloc Liste des jeux #}
        <div class='listeJeux cadreBleu h-30'>

{% set classeCouleur = random(12) %}
{% set classeTaille  = random(6)  %}
{% set classFonte    = random(10) %}
{% for jeu in listeJeux %}
                <a href='choisirJeu{{jeu.id}}' class='confetti couleur{{classeCouleur}} taille{{classeTaille}} fonte{{classFonte}}' onclick=''>{{jeu.nom}}</a>
  {% set classeCouleur = classeCouleur + 1 %}
  {% set classeTaille = classeTaille + 1 %}
  {% set classFonte = classFonte + 1 %}
  {% if classeCouleur > 12 %}
    {% set classeCouleur = 0 %}
  {% endif %}
  {% if classeTaille > 6 %}
    {% set classeTaille = 0 %}
  {% endif %}
  {% if classFonte > 10 %}
    {% set classFonte = 0 %}
  {% endif %}
{% endfor %}

        </div>
      </div>{# Bloc Liste des jeux #}

      <div class='col-12'>
        <br>
      </div>

      <div id="blocDetailJeu" class='col-12 OurFont' style='padding-top : 1em;'>{# Bloc Titre #}
        <div class='fondOpaque cadreBleu'>
          <div class='row'>
            <div class='col-12'>&nbsp;</div>
            <div class='col-md-6 col-sm-7 col-12' style='margin-top:-0.5em'><h2 id='divTitre'>{{session.jeuChoisi.nom}}</h2>
            </div>
            <div class='col-md-4 col-sm-4 col-7' style='margin-top:-0.5em'>
              <div class='row'>
                <div class='col-sm-6 col-12' id='divDurees'>{{session.jeuChoisi.dureemin|dureehm}}-{{session.jeuChoisi.dureemax|dureehm}}</div>
                <div class='col-sm-6 col-12' id='divNbJ'>{{session.jeuChoisi.nbJoueurs|replace({' à ':'-'})}}</div>
              </div>
            </div>
            <div class='col-md-2 col-sm-1 col-5 float-right' style='margin-top:-0.9em; padding-bottom : 0.3em;' id='divNiv'>
              <img class='mini float-right' src='{{ img_path }}pictoNiv{{session.jeuChoisi.dominance}}.gif'>
            </div>
          </div>
        </div>
      </div>{# Bloc Titre #}

      <div class='col-12'>
        <br>
      </div>

      <div class='col-md-4 col-12 camembert OurFont'>{# Bloc Nom, image et durée #}
        <div id='divImg'>
          {% if (session.jeuChoisi.nbImg > 1) %}
            {% set nomFichier = session.jeuChoisi.img %}
            {% set racineNomFichier = nomFichier[0:-5] %}
            {% set derniereImage = session.jeuChoisi.nbImg - 1 %}
            {% set active = ' active' %}
          <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Indicateurs -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              {% for n in 1..derniereImage %}
              <li data-target="#demo" data-slide-to="{{n}}"></li>
              {% endfor %}
            </ul>
            <div class="carousel-inner">
              {% for n in 0..derniereImage %}
              <div class="carousel-item{{active}}">
                {% set active = '' %}
                <img id='imageDuJeu' class='d-block w-100 grandeImage img-fluid cadreBleu' src='{{img_path}}imagesJeux/{{racineNomFichier}}{{"%02d"|format(n)}}i{{"%02d"|format(session.jeuChoisi.nbImg)}}.jpg'> 
              </div>
              {% endfor %}
            </div>
          {# Fleches precedent et suivant #}
          <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
          </a>
          <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
          </a>
          </div>
          {% else %}
          <img id='imageDuJeu' class='grandeImage img-fluid cadreBleu' src='{{ img_path }}imagesJeux/{{session.jeuChoisi.img}}.jpg'>
          {% endif%}
        </div>
        <br>
        <div class='fondOpaque cadreBleu'>
          <table class='w-100'>
            <tr>
              <td>
                <div class ='row camembert'>
              <div class='col-12'><h2 id='divNom'>{{session.jeuChoisi.nomComplet}}</h2></div>
              <div class='col-12 enLigne w-100' id='divDuree'>
                <div class='camembertParent enLigne' id='divHorloges'>
                  {{session.jeuChoisi.duree|raw}}
                </div>
                <div class='legendeCamembert'>
                  <h3>Légende :</h3>
                  <table>
                    <tr>
                      <td>
                        <img class='rectangle' src='{{ img_path }}legendeVert.gif'>&nbsp;
                      </td>
                      <td id='legMin'>
                        durée minimale{{session.jeuChoisi.dureemin|duree}}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img class='rectangle' src='{{ img_path }}legendeRouge.gif'>&nbsp;
                      </td>
                      <td id='legMax'>
                        durée maximale{{session.jeuChoisi.dureemax|duree}}
                      </td>
                    </tr>
                  </table>
                  <div id='legNbj' >Jeu pour {{session.jeuChoisi.nbJoueurs}}</div>
                  <div id='legNiv_A'>Niveau de difficulté : {{session.jeuChoisi.difficulte}}</div>
                  <table>
                    <tr>
                      <td rowspan=3><img id='legNiv_B' class='mini' src='{{ img_path }}pictoNiv{{session.jeuChoisi.dominance}}.gif'></td>
                      <td rowspan=3><div class='texteInvisible'>blabla</div></td>
                      <td><img class='bonhomme' src='{{ img_path }}niveau_enfant.gif'></td>
                      <td>5-8 ans</td>
                      <td class='texteInvisible' rowspan=3 id='legNiv_C' style='background-image:url({{ img_path }}fleches{{session.jeuChoisi.dominance}}.gif);'>blabla</td>
                      <td><img class='rectangle' src='{{ img_path }}niveauRouge.gif'></td>
                      <td>trop dur</td>
                    </tr>
                    <tr>
                      <td><img class='bonhomme' src='{{ img_path }}niveau_preado.gif'></td>
                      <td>9-13 ans</td>
                      <td><img class='rectangle' src='{{ img_path }}niveauOrange.gif'></td>
                      <td>compliqué</td>
                    </tr>
                    <tr>
                      <td><img class='bonhomme' src='{{ img_path }}niveau_grand.gif'></td>
                      <td>14 ans et plus</td>
                      <td><img class='rectangle' src='{{ img_path }}niveauVert.gif'></td>
                      <td>facile</td>
                    </tr>
                  </table>
                </div>{# Fin du bloc invisible Légende #}
              </div>{# Fin du bloc Durée #}
              <div class='col-12'>
                <br><br>
              </div>
              <div class='col-12 inline' id='divNiveau'>
                <label class='gauche' style='font-size : 1.4em;'>Complexité&nbsp;:&nbsp;{{session.jeuChoisi.dominance}}/5</label>
                <img class='mini enAbsolu' style='right : 2em;top : 0;' src='{{ img_path }}pictoNiv{{session.jeuChoisi.dominance}}.gif'>
              </div>
              <div class='col-12'>
                <br>
              </div>
              <div class='col-12 inline' id='divTxtNbJoueurs'>
                <label class='gauche' style='font-size : 1.4em;'>{{session.jeuChoisi.nbJoueurs}}</label>
                <img class='mini enAbsolu' style='right : 2em;top : 0;' src='{{ img_path }}{{session.jeuChoisi.imgNbJoueurs}}'>
              </div>
              <div class='col-12'>
                <br>
              </div>
              <div class='col-12' id='divMeca'>
              {% if session.jeuChoisi.mecanismes|length > 0 %}
                <label class='gauche' style='font-size : 1.4em;'>Mécanismes et prérequis:</label>
                  {% for meca in session.jeuChoisi.mecanismes %}
                  <li>{{meca}}</li>
                  {% endfor %}
              {% endif %}
              </div>
              
            </div>
              </td>
            </tr>
          </table>
          <br><br>
        </div>
      </div>{# Bloc Nom, image et durée #}

      <div class="col-md-8 col-12 OurFont' style='z-index : -1; height:auto;">{# Bloc But et principe #}
        <div class="fondOpaque cadreBleu enRelatif" style="height:auto;">
          <div class="enLigne">
            <h3 class="enLigne"><label>But :</label></h3>
              <span class="enLigne" style="font-weight : bold;" id="divBut">{{session.jeuChoisi.but}}</span>
          </div>
          <h3><label style="text-align : left;">Principe :</label></h3>
          <div class="sousFenetre text-justify" id="divPpe">
            {{session.jeuChoisi.ppe|raw}}
          </div>
        </div>
        <br><br>
      </div>{# Bloc But et principe #}

      <div class='col-12 OurFont'>
        <br><br><br>
  {% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
  {% if currentPath|slice(1,10) == "choisirJeu" %}
  <script>
    window.location.href = "#blocDetailJeu";
    setTimeout(atteindreBarreMenu, 200);
  </script>
  {% endif %}
      </div>
      
{% endblock %}
