{% extends "main.html.twig" %}

{% block entete %}
  {{ parent() }}
  <link rel="stylesheet" href="{{css_path}}jeux.css">
  <link rel="stylesheet" href="{{css_path}}toolTip.css">
  <script src="{{js_path}}jeux.js"></script>
{% endblock %}

{% block corps %}
  {{ parent() }}
  
{% endblock %}

{% block laPage %}

      <div class='col-12'>{# Bloc Filtrage des jeux #}
        <div class='fondOpaque cadreBleu'>
          Bloc Filtrage des jeux
        </div>
      </div>{# Bloc Filtrage des jeux #}

      <div class='col-12'>{# Bloc Liste des jeux #}
        <div class='listeJeux cadreBleu h-30'>
          Bloc Liste des jeux
        </div>
      </div>{# Bloc Liste des jeux #}

      <div class='col-12'>{# Bloc Titre #}
        <div class='fondOpaque cadreBleu'>
          Bloc Titre
        </div>
      </div>{# Bloc Titre #}

      <div class='col-md-4 col-12 camembert'>{# Bloc Nom, image et durée #}
        <div class="fondOpaque cadreBleu">
          <img class='grandeImage img-fluid' id="divImg" src="{{ img_path }}imagesJeux/{{session.jeuChoisi.img}}.jpg">
        </div>
        <div class="fondOpaque cadreBleu">
        Bloc Nom, image et durée
        </div>
      </div>{# Bloc Nom, image et durée #}

      <div class='col-md-8 col-12' style="z-index : -1; height:auto;">{# Bloc But et principe #}
        <div class='fondOpaque cadreBleu enRelatif' style='height:auto;'>
          Bloc But et principe
        </div>
      </div>{# Bloc But et principe #}

      
{% endblock %}

{% block piedDePage %}
    <div id="RangementDesJeux" class="jeSuisInvisible">
{% for jeu in listeJeux %}
      <div id="jeuNo{{jeu.id}}_nom">{{jeu.nom}}</div>
      <div id="jeuNo{{jeu.id}}_nmc">{{jeu.fullnom}}</div>
      <div id="jeuNo{{jeu.id}}_but">{{jeu.but}}</div>
      <div id="jeuNo{{jeu.id}}_ppe">{{jeu.ppe}}</div>
      <div id="jeuNo{{jeu.id}}_niv">{{jeu.dominance}}</div>
      <div id="jeuNo{{jeu.id}}_min">{{jeu.dureemin}}</div>
      <div id="jeuNo{{jeu.id}}_max">{{jeu.dureemax}}</div>
      <div id="jeuNo{{jeu.id}}_dur">{{jeu.duree}}</div>
      <div id="jeuNo{{jeu.id}}_nbj">{{jeu.nbJoueurs}}</div>
      <div id="jeuNo{{jeu.id}}_img">{{jeu.img}}</div>
      {#<div id="jeuNo{{jeu.id}}_mca">{{jeu.mecanismes}}</div>#}
{% endfor %}
    </div>
{% endblock %}